@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 20%;

    --card: 0 0% 92%;
    --card-foreground: 0 0% 20%;

    --popover: 0 0% 92%;
    --popover-foreground: 0 0% 20%;

    --primary: 0 0% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 88%;
    --secondary-foreground: 0 0% 20%;

    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 80%;
    --input: 0 0% 88%;
    --ring: 0 0% 40%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 96%;

    --sidebar-foreground: 0 0% 26%;

    --sidebar-primary: 0 0% 40%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 0 0% 88%;

    --sidebar-accent-foreground: 0 0% 20%;

    --sidebar-border: 0 0% 80%;

    --sidebar-ring: 0 0% 40%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 98%;

    --card: 0 0% 14%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 14%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 65%;

    --accent: 0 0% 40%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 18%;
    --ring: 0 0% 40%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 40%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 0 0% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    overflow-y: hidden;
  }
}
