@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 20%;

    --card: 0 0% 92%;
    --card-foreground: 0 0% 20%;

    --popover: 0 0% 92%;
    --popover-foreground: 0 0% 20%;

    --primary: 0 0% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 88%;
    --secondary-foreground: 0 0% 20%;

    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 80%;
    --input: 0 0% 88%;
    --ring: 0 0% 40%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222 24% 10%;
    --foreground: 210 40% 98%;

    --card: 222 20% 14%;
    --card-foreground: 210 40% 98%;

    --popover: 222 20% 14%;
    --popover-foreground: 210 40% 98%;

    --primary: 217 91% 45%;
    --primary-foreground: 210 40% 98%;

    --secondary: 222 20% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 222 20% 16%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 91% 45%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 222 20% 20%;
    --input: 222 20% 18%;
    --ring: 217 91% 45%;
    --sidebar-background: 222 24% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 217 91% 45%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 222 20% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 20% 20%;
    --sidebar-ring: 217 91% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    overflow-y: hidden;
  }
}
